body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0%;
    font-size: 1.5vw;
    background-color:white;
}



#logo{
    margin: 0px;
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 12%;
    
    
}
.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    font-size: 16px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: white;
  }

  .user-actions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-actions a {
    text-decoration: none;
    font-size: 20px;
    color:white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: black;
  }
  
  .user-actions a:hover {
    background-color: black;
  }
  
  .login {
    background-color:white;
    color: black;
    padding: 8px 16px;
  }
  
  .login:hover {
    background-color: black;
  }
  
  .cart {
    background-color: white;
    color: white;
    padding: 8px 16px;
  }
  
  .cart:hover {
    background-color: black;
  }
  
    .cart-count {
    font-weight: bold;
  }

ul{
    margin: 0px;
}

body > header{
    background-color:black;
    color:white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}
.ulbuttons{
    list-style: none;
    text-decoration: none;
    display: flex;

}

.ulbuttons > li {
    padding: 8px;
    margin: 16px;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div > div img  {
    width: 100%;  
    height: auto;
    border-radius: 5%;
    grid-area: menu;
}
@media (max-width: 768px) {
  .search-bar input {
      width: 100%; /* Make input full width on smaller screens */
  }
}

.product-grid > ul  {
  display: grid;
  grid-template-columns: repeat(3, 3fr); /* 2 columns */
  gap: 20px; /* Space between the items */
  padding: 20px;
  border-radius: 10px;
  list-style-type: none;
  
  
}

.product-grid > ul > li > form {
    color: black;
    font-size: 20px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
  
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

img {
    border-radius: 50%;
}
body > footer{
    background-color: black;
    color: white;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;

}

#footer-ul > div > li {
    margin-left: 16px;

}
#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}